*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 35%; } }

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #1e3799, #0c2461);
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh; }

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  margin-left: 3rem; }
  .heading-primary--flex {
    display: flex; }
  @media only screen and (max-width: 34.375em) {
    .heading-primary {
      margin-left: 1rem;
      font-size: 3rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: #093394;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      margin-bottom: 3rem; } }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffd700;
  margin-bottom: 1.5rem; }
  @media only screen and (max-height: 53.125em) {
    .heading-tertiary {
      margin-bottom: 2rem !important;
      margin-top: 2rem !important; } }
  @media only screen and (max-height: 40.625em) {
    .heading-tertiary {
      margin-bottom: 1rem !important;
      margin-top: 1rem !important; } }
  @media only screen and (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 2rem;
      margin-bottom: 1rem !important; } }

.color-black {
  color: #000000 !important; }

.margin-bottom {
  margin-bottom: 4rem; }

.margin-top {
  margin-top: 4rem; }

.font-11 {
  font-size: 1.1rem;
  font-weight: 700; }

::selection {
  background-color: #093394;
  color: #dddeee; }

.btn {
  width: 20rem;
  height: 5rem;
  border-radius: 25%;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #dddeee;
  background-image: linear-gradient(to right, #4278f5, #093394);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  transition: all .2s; }
  @media only screen and (max-width: 34.375em) {
    .btn {
      width: 18rem;
      height: 4rem;
      margin-top: 1rem !important; } }
  .btn:focus {
    outline: none; }
  .btn:link, .btn:visited {
    color: #dddeee;
    text-decoration: none; }
  .btn:hover {
    transform: scale(1.08);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6); }
  .btn:active {
    background-image: linear-gradient(to left, #4278f5, #093394);
    transform: translateY(0.3rem); }
  .btn--tracker {
    border-radius: 10rem;
    width: inherit;
    height: auto;
    font-size: 2.5rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 34.375em) {
      .btn--tracker {
        margin-bottom: 2rem; } }
  .btn--progress {
    color: #dddeee;
    margin-top: .4rem;
    font-size: 1.6rem;
    font-weight: 900; }
  .btn--update {
    color: #dddeee;
    margin-top: .4rem;
    font-size: 1.2rem;
    font-weight: 500; }
  .btn--small {
    display: inline-block;
    height: 3rem;
    width: 15rem;
    background-image: none;
    background-color: #000000;
    color: #dddeee;
    align-self: center; }
    @media only screen and (max-height: 40.625em) {
      .btn--small {
        height: 2rem;
        width: 10rem;
        font-size: 1.1rem; } }
    .btn--small:active {
      background-image: none;
      background-color: #dddeee;
      color: #000000; }

.list {
  margin-top: 5rem;
  margin-right: auto;
  list-style-type: none;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-right: auto; }
  .list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #093394;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .list__item:active::before {
    background-color: #4278f5; }
  .list__item {
    padding: 1rem 2rem;
    text-decoration: none;
    position: relative; }
    .list__item:not(:last-child) {
      margin-bottom: 4rem; }
    .list__item:link, .list__item:visited {
      color: #dddeee; }
    .list__item:hover {
      color: #dddeee; }
  .list__item:hover::before, .list__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .list__footer {
    color: #dddeee;
    text-align: center;
    font-size: 1rem;
    margin-top: 7rem; }
  .list__text {
    position: relative;
    z-index: 100; }

.popup {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000000;
  transition: all .3s; }
  @media only screen and (max-height: 53.125em) {
    .popup {
      font-size: 80%; } }
  .popup__background {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .popup__content {
    width: 50%;
    height: 55vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    box-shadow: 0 2rem 5rem rgba(221, 222, 238, 0.5);
    background-image: linear-gradient(to right bottom, #4278f5, #093394);
    border-radius: 10%; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 4rem;
    right: 6rem;
    color: #ffd700;
    font-size: 3.5rem;
    text-decoration: none;
    line-height: 1;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .popup__close:link, .popup__close:visited {
        top: 2rem;
        right: 4rem; } }
    @media only screen and (max-width: 34.375em) {
      .popup__close:link, .popup__close:visited {
        top: .9rem;
        right: 1.4rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1; }

.form {
  text-align: center;
  height: auto; }
  .form__el:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-height: 31.25em) {
      .form__el:not(:last-child) {
        margin-bottom: .5rem;
        font-size: 2rem;
        font-weight: 400; } }
    @media only screen and (max-height: 28.125em) {
      .form__el:not(:last-child) {
        font-size: 1rem; } }
  .form__textarea {
    font-family: "Lato", sans-serif;
    background-color: #093394;
    padding: 3.5rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    resize: none;
    color: #dddeee;
    margin: 0 auto;
    margin-top: 1rem;
    align-content: center;
    border: 1px solid #000000;
    border-radius: 3rem;
    overflow: hidden;
    outline: none; }
    .form__textarea--history {
      font-size: 1.8rem; }
    @media only screen and (max-height: 53.125em) {
      .form__textarea {
        font-size: 1rem;
        height: 10rem;
        padding: 2rem 1.5rem; } }
    @media only screen and (max-height: 31.25em) {
      .form__textarea {
        height: 7rem;
        font-size: .8rem;
        padding: 1.5rem 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .form__textarea {
        padding: 1.5rem 1rem; } }
  .form__textarea--small {
    padding: 2rem 1.5rem;
    font-size: 1.3rem; }
    @media only screen and (max-width: 43.75em) {
      .form__textarea--small {
        padding: 1.5rem 1rem; } }
  .form__input {
    height: 3rem;
    width: 25rem;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 5px;
    border-bottom: 3px #000000; }
    @media only screen and (max-height: 40.625em) {
      .form__input {
        height: 2rem;
        font-size: 1.5rem; } }
    @media only screen and (max-height: 28.125em) {
      .form__input {
        height: 1.5rem;
        font-size: 1.2rem; } }
    .form__input:focus {
      outline: none; }
  .form__input--num {
    margin-left: 1rem;
    height: 2rem;
    width: 3.5rem; }
    @media only screen and (max-height: 40.625em) {
      .form__input--num {
        height: 1.7rem;
        width: 2.7rem; } }
    @media only screen and (max-height: 31.25em) {
      .form__input--num {
        height: 1.5rem;
        width: 2.2rem; } }
    @media only screen and (max-height: 28.125em) {
      .form__input--num {
        height: 1.3rem;
        font-size: .8rem; } }
  .form__radio:not(:last-child) {
    margin-right: 3rem; }

.container {
  max-width: 140rem;
  margin: 8rem auto;
  background-color: #ccc;
  box-shadow: 0 2.5rem 5rem rgba(221, 222, 238, 0.5);
  min-height: 50rem; }
  @media only screen and (max-width: 87.5em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  height: 8rem;
  width: 100%;
  padding: 3rem;
  background-image: linear-gradient(to right bottom, rgba(240, 238, 238, 0.7), rgba(240, 238, 238, 0.7)), url("../img/background.jpg");
  border-bottom: 1px solid #000000;
  display: flex;
  align-content: space-around;
  align-items: center; }
  .header__icon {
    margin-left: 2rem;
    height: 5rem;
    width: 5rem;
    fill: #ffd700;
    margin-right: auto; }

.content {
  display: flex;
  height: auto; }

.sidenav {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
  color: #dddeee;
  background-color: #000000;
  border-right: 1px solid #000000; }

.main {
  padding: 5rem 8rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(240, 238, 238, 0.7), rgba(240, 238, 238, 0.7)), url("../img/background.jpg"); }
  @media only screen and (max-width: 43.75em) {
    .main {
      padding: 3rem 5rem; } }
  @media only screen and (max-width: 34.375em) {
    .main {
      padding: 1.5rem 2.5rem; } }
  .main--edit {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 43.75em) {
      .main--edit {
        flex-direction: column; } }
  .main__content {
    display: flex;
    margin-right: auto;
    flex-direction: column; }
  .main__progress {
    display: flex;
    flex-direction: column;
    align-items: center; }
